fastapi
uvicorn
pydantic
requests
matplotlib
numpy
reportlab
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langgraph
docling
qdrant-client
langchain-community
PyPDF2
pdfplumber
python-multipart
sentence-transformers
python-socketio
youtube-search 
yt-dlp      